<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Edit a book</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>
<form enctype="multipart/form-data" action="#" th:action="@{'/update/' + ${book.getIsbn()}}" th:object="${book}" method="post">
    <div class="form-group">
        <p>ISBN: <span th:text="${book.getIsbn()}"/></p>
        <input type="hidden" th:field="*{isbn}" id="isbn" value="${book.getIsbn()}">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" value="${book.getName()}" th:field="*{name}">
    </div>
    <div class="form-group">
        <label for="author">Author</label>
        <input class="form-control" id="author" value="${book.getAuthor()}" th:field="*{author}">
    </div>
    <div class="form-group">
        <input class="btn btn-default" type="submit" value="Update">
    </div>
</form>
</body>
</html>